<h3>OctoGOAT</h3>

<label>
    <input type="checkbox" data-bind="checked: confirmed">
    I confirm temps and coordinates are correct
</label>

<br><br>

<button class="btn btn-primary"
        data-bind="enable: confirmed, click: resumePrint">
    RESUME
</button>
