<div id="generic_plugin_octogoat">

    <h3>OctoGOAT</h3>

    <label>
      <input type="checkbox" data-bind="checked: confirmed">
      I confirm temps and coordinates are correct
    </label>

    <br><br>

    <button type="button"
            class="btn btn-primary"
            data-bind="click: resumePrint">
      RESUME
    </button>

</div>