<div id="settings_plugin_octogoat">
    <h3>OctoGoat</h3>

    <div class="control-group">
        <label class="control-label" for="octogoat_api_key">API Key</label>
        <div class="controls">
            <input id="octogoat_api_key" type="text" class="input-block-level" data-bind="value: settings.plugins.octogoat.api_key" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="octogoat_engine_url">Engine URL</label>
        <div class="controls">
            <input id="octogoat_engine_url" type="text" class="input-block-level" data-bind="value: settings.plugins.octogoat.engine_url" />
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button class="btn" data-bind="click: testOctoGoatConnection">Test Connection</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        function OctoGoatSettingsViewModel(parameters) {
            var self = this;
            self.settings = parameters[0];

            self.testOctoGoatConnection = function() {
                OctoPrint.simpleApiCommand("octoprint_octogoat", "ping", {})
                    .done(function(response) {
                        alert(JSON.stringify(response, null, 2));
                    })
                    .fail(function(jqXHR) {
                        var payload = jqXHR.responseJSON || {error: jqXHR.responseText || "Request failed"};
                        alert(JSON.stringify(payload, null, 2));
                    });
            };
        }

        OCTOPRINT_VIEWMODELS.push({
            construct: OctoGoatSettingsViewModel,
            dependencies: ["settingsViewModel"],
            elements: ["#settings_plugin_octogoat"]
        });
    });
</script>
